@media (max-width:600px){
    .banner_text h1{
        font-size: 55px;
        padding: 10px;
    }
    .banner_text h2{
        font-size: 17px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .banner_content{
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    #geral section{
        padding-top: 130px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #geral aside{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_menu{
        flex-direction: column;
    }

    .footer_area{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer_copy{
        padding-left: 20px;
    }
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display:none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff
    }
    header{
        height: auto;
    }
    .logo{
        padding-left:20px
    }
    .menuMobile {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
}


@media (max-width:375px){

    .banner_text h1{
        font-size: 40px;
        padding: 10px;
    }
    .banner_text h2{
        font-size: 17px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .banner_content{
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    #geral section{
        padding-top: 200px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #geral aside{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_menu{
        flex-direction: column;
    }

    .footer_area{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer_copy{
        padding-left: 20px;
        font-size: 10px;
    }
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display:none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff
    }
    header{
        height: auto;
    }
    .logo{
        padding-left:20px
    }
    .menuMobile {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }

}